---
layout: default-layout
---

<!-- styleguide main begin -->
<div class="ks-main" role="main">

  <!-- ks-patterns begin -->
  <article id="ks-patterns">
  {{#each this.app.views.components}}
    <!-- key -->
    {{@key}}
    <!-- index -->
    {{@index}}
    <!-- content -->
    {{@content}}
    <!-- . -->
    {{.}}
  {{/each}}

  </article>
  <!-- ks-patterns end -->

</div>
<!-- styleguide main end -->
