<div class="ks-wrapper">

  <div class="ks-all">

    <h1>This page should contain all the patterns in all pattern categories</h1>
    <!-- all partials start -->
    {{#each pattern}}
      <!-- there should be pattern content here -->
      {{@content}}
    {{/each}}
    <!-- all partials end -->
  </div>

</div>
