<div class="ks-wrapper">

  <div class="ks-all">

    <h1>This page should contain all the patterns in all pattern categories</h1>
    <!-- all partials start -->
    {{#each this.components}}
      <!-- there should be pattern content here -->
      Hello
      {{component .}}
    {{/each}}

    <!-- all partials end -->
  </div>

</div>
