<!-- styleguide viewport wrapper start -->
<div class="ks-viewport">
    <div class="ks-viewport__wrapper">
        <iframe id="ks-viewport" name="ks-viewport" sandbox="allow-same-origin allow-scripts allow-popups allow-top-navigation" scrolling="yes" src="components.html"></iframe>
    </div>
</div>
<!-- styleguide viewport wrapper end -->
