<!-- styleguide main begin -->
<div class="ks-main" role="main">

  <!-- ks-patterns begin -->
  <article id="ks-patterns">
  {{!-- {{#each patterns}}
    {{@key}}
  {{/each}} --}}

  </article>
  <!-- ks-patterns end -->

</div>
<!-- styleguide main end -->
