<!-- styleguide nav begin -->
<nav class="ks-nav" role="navigation">
  <ol class="ks-nav-list">
    <li class="ks-nav__item">
        <a class="ks-nav__link" href="styleguide">Kitchen Sink</a>
    </li>
  </ol>
</nav>
<!-- styleguide nav end -->
