<head id="ks-frame-head">
  <title>Kickstart Styleguide Frame</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="public/css/styleguide.css" rel="stylesheet" media="screen" type="text/css" id="ks-css-styleguide"/>
  <link href="{{assets}}/css/main.css" rel="stylesheet" media="all" type="text/css" />
</head>
