<!-- styleguide pagetools start -->
<div class="ks-pageTools ks-controls">

  <button class="ks-icon man" data-ks-toggle-control="details" title="toggle details">
      <svg>
          <use xlink:href="#ks-icon-details" />
      </svg>
  </button>

  <button class="ks-icon man" data-ks-toggle-control="notes" title="toggle notes">
      <svg>
          <use xlink:href="#ks-icon-notes" />
      </svg>
  </button>

  <button class="ks-icon man" data-ks-toggle-control="code" title="toggle code">
      <svg>
          <use xlink:href="#ks-icon-code" />
      </svg>
  </button>

</div>
<!-- styleguide pagetools end -->
