<!DOCTYPE html>

<html id="ks-html">

    {{> styleguide-head }}

    <body id="ks-body">

        {{> styleguide-navigation }}

        {{> styleguide-pagetools }}

        {% body %}

        <script src="public/js/styleguide.js" id="ks-script-main"></script>

    </body>

</html>
