<!DOCTYPE html>

<html id="ks-html">

    {{> styleguide-head }}

    <body id="ks-body">

        {{> styleguide-navigation}}

        {% body %}

        <script src="public/js/styleguide.js" id="ks-js-styleguide"></script>

    </body>

</html>
